{
  "openapi": "3.0.0",
  "info": {
    "title": "HRPAuth API",
    "description": "HRPAuth authentication system backend API documentation",
    "version": "3"
  },
  "servers": [
    {
      "url": "http://auth.samuelchest.com/",
      "description": "Local development server"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "summary": "Root path redirect",
        "description": "Redirect to frontend address when accessing the root path",
        "tags": ["System"],
        "responses": {
          "302": {
            "description": "Redirect to frontend",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string",
                  "example": "/index.html"
                }
              }
            }
          }
        }
      }
    },
    "/login": {
      "post": {
        "summary": "User login",
        "description": "User logs into the system using email and password",
        "tags": ["Authentication"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "User email",
                    "format": "email"
                  },
                  "password": {
                    "type": "string",
                    "description": "User password"
                  }
                },
                "required": ["email", "password"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Login successful"
                    },
                    "token": {
                      "type": "string",
                      "description": "Authentication token"
                    },
                    "uid": {
                      "type": "string",
                      "description": "User ID"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Invalid email"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Email or password incorrect"
                    }
                  }
                }
              }
            }
          },
          "405": {
            "description": "Invalid request method",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Method Not Allowed"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/register": {
      "post": {
        "summary": "User registration",
        "description": "User registers to the system using email, nickname, and password",
        "tags": ["Authentication"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "User email",
                    "format": "email"
                  },
                  "nickname": {
                    "type": "string",
                    "description": "User nickname",
                    "minLength": 3
                  },
                  "password": {
                    "type": "string",
                    "description": "User password",
                    "minLength": 6
                  },
                  "password2": {
                    "type": "string",
                    "description": "Confirm password"
                  }
                },
                "required": ["email", "nickname", "password", "password2"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Registration successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "uid": {
                      "type": "string",
                      "description": "User ID"
                    },
                    "message": {
                      "type": "string",
                      "example": "Register successful"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "examples": {
                        "invalidEmail": {
                          "value": "Invalid email"
                        },
                        "shortNickname": {
                          "value": "Nickname too short"
                        },
                        "shortPassword": {
                          "value": "Password too short"
                        },
                        "passwordMismatch": {
                          "value": "Passwords not match"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Email already registered",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Email already registered"
                    }
                  }
                }
              }
            }
          },
          "405": {
            "description": "Invalid request method",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Method Not Allowed"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Database error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/user": {
      "post": {
        "summary": "Get user information",
        "description": "Get information of the currently logged-in user. The authentication token (remember_token) can be provided via JSON body, POST form-data, or GET query parameter.",
        "tags": ["User"],
        "parameters": [
          {
            "name": "remember_token",
            "in": "query",
            "description": "Authentication token (Alternative to body parameter)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "remember_token": {
                    "type": "string",
                    "description": "Authentication token"
                  }
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "remember_token": {
                    "type": "string",
                    "description": "Authentication token"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Fetch successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Get user info successful"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "email": {
                          "type": "string",
                          "description": "User email"
                        },
                        "nickname": {
                          "type": "string",
                          "description": "User nickname"
                        },
                        "avatar": {
                          "type": "string",
                          "description": "User avatar",
                          "nullable": true
                        },
                        "verified": {
                          "type": "boolean",
                          "description": "Whether the user is verified"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not logged in",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "examples": {
                        "notLoggedIn": {
                          "value": "Not logged in or session expired"
                        },
                        "invalidToken": {
                          "value": "User not found or invalid token"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/logout": {
      "get": {
        "summary": "User logout",
        "description": "User logs out of the system, clearing session",
        "tags": ["Authentication"],
        "responses": {
          "302": {
            "description": "Redirect to login page",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string",
                  "example": "/login"
                }
              }
            }
          }
        }
      }
    },
    "/email-verification": {
      "post": {
        "summary": "Email verification operations",
        "description": "Includes sending test email, sending verification code, and verifying code",
        "tags": ["Authentication", "Email"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "action": {
                    "type": "string",
                    "description": "Operation type",
                    "enum": ["send-test-email", "send-verification-code", "verify-code"]
                  },
                  "email": {
                    "type": "string",
                    "description": "User email",
                    "format": "email"
                  },
                  "code": {
                    "type": "string",
                    "description": "Verification code"
                  },
                  "to": {
                    "type": "string",
                    "description": "Recipient email",
                    "format": "email"
                  },
                  "subject": {
                    "type": "string",
                    "description": "Email subject",
                    "default": "Test email"
                  },
                  "message": {
                    "type": "string",
                    "description": "Email content"
                  }
                },
                "required": ["action"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Operation successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "examples": {
                        "testEmailSent": {
                          "value": "Email sent successfully"
                        },
                        "verificationCodeSent": {
                          "value": "Verification code sent successfully"
                        },
                        "verificationSuccessful": {
                          "value": "Verification successful"
                        }
                      }
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "to": {
                          "type": "string",
                          "description": "Recipient email"
                        },
                        "subject": {
                          "type": "string",
                          "description": "Email subject"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "examples": {
                        "invalidAction": {
                          "value": "Invalid action"
                        },
                        "invalidEmail": {
                          "value": "Invalid email"
                        },
                        "missingCode": {
                          "value": "Verification code is required"
                        },
                        "expiredCode": {
                          "value": "Verification code expired or not found"
                        },
                        "invalidCode": {
                          "value": "Invalid verification code"
                        },
                        "missingTo": {
                          "value": "Recipient email cannot be empty"
                        },
                        "invalidTo": {
                          "value": "Recipient email format incorrect"
                        },
                        "missingSubject": {
                          "value": "Email subject cannot be empty"
                        },
                        "missingMessage": {
                          "value": "Email content cannot be empty"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "User not found or already verified",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "User not found or already verified"
                    }
                  }
                }
              }
            }
          },
          "405": {
            "description": "Invalid request method",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Method Not Allowed"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Verification code already sent",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Verification code already sent, please wait"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "examples": {
                        "storeFailed": {
                          "value": "Failed to store verification code"
                        },
                        "smtpError": {
                          "value": "Unable to connect to SMTP server"
                        },
                        "updateFailed": {
                          "value": "Failed to update verification status"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/totpgen": {
      "get": {
        "summary": "Generate TOTP code",
        "description": "Generate TOTP code based on the provided secret",
        "tags": ["Security"],
        "parameters": [
          {
            "name": "secret",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "TOTP secret"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Generation successful",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Generated TOTP code"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Missing secret"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "message": {
            "type": "string",
            "description": "Error message"
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "description": "Success message"
          }
        }
      }
    }
  }
}
